<<<<<<< HEAD
<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Satisfy&display=swap');
=======

  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&family=Playfair+Display&family=Satisfy&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Dancing+Script&family=Satisfy&display=swap');

<<<<<<< HEAD
*{
=======


>>>>>>> 099a57828d64992bd186e37488fcdc875753d5b0

* {
>>>>>>> 75f23a2f81579c6b34440e620e91c0c638ec7a4c
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c7e0d9;
}

<<<<<<< HEAD
.button {
    font-family: 'DM Serif Display', serif;
=======
.button{
    font-family: DM Serif Display;
    padding-left: 2%;
    border-radius: 5px;
    
>>>>>>> 099a57828d64992bd186e37488fcdc875753d5b0
}

.button:hover {
    background-color: #c7e0d9;
    transition: 1s;
}

.slika {
    width: fit-content;
    align-content: center;
}

.header {
    position: absolute;
    padding-left: 10%;
    padding-bottom: 30%;
    transform: translateX(-30%);
    transform: translateY(-50%);
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 2.5vw;
}
</style>
      align-content: center;
      padding-bottom: 1%;
      }

      .header{
position: absolute;
  padding-left: 6%;
  padding-bottom: 30%;
  transform: translateX(-30%);
  transform: translateY(-50%);
  font-weight: bold;
  color: white;
  text-shadow: 5px 5px 5px black;
  font-size: 7vw;
  font-family: Dancing Script;
      }
     
      .tekst{
       color: rgb(80, 80, 80);
        font-family: Playfair Display;
        padding: 1%;
      }
      .clock{

        font-family:Playfair Display;
        color:rgb(49, 49, 49);
        padding-bottom: 2%;
    }
<<<<<<< HEAD
    .slike{

    }

    .slike:hover{
      transform: scale(1.1);
      transition: 1s;
    }
=======
.card:hover{
    transform: scale(1.1);
    transform: 1s;
}
    
>>>>>>> 75f23a2f81579c6b34440e620e91c0c638ec7a4c
