<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Satisfy&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #c7e0d9;
}

.button {
    font-family: 'DM Serif Display', serif;
}

.button:hover {
    background-color: #c7e0d9;
    transition: 1s;
}

.slika {
    width: fit-content;
    align-content: center;
}

.header {
    position: absolute;
    padding-left: 10%;
    padding-bottom: 30%;
    transform: translateX(-30%);
    transform: translateY(-50%);
    font-weight: bold;
    color: white;
    text-shadow: 5px 5px 5px black;
    font-size: 2.5vw;
}
</style>
